node-red-data/.flows.json.backup
[{"id":"c4c50837.00cc28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33b962ae.3b4c2e","type":"subflow","name":"Display image","info":"","category":"","in":[{"x":60,"y":120,"wires":[]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"24b57e93.ee56c2","type":"ui_tab","name":"Camera","icon":"dashboard","disabled":false,"hidden":false},{"id":"d04e3134.a6ece","type":"ui_group","name":"Default","tab":"24b57e93.ee56c2","order":1,"disp":true,"width":30,"collapse":false},{"id":"b671a2c9.27b24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65dc76d8.eb8ee8","type":"telegram bot","botname":"yolocameranotifications_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"980c44e8.f0d578","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":3,"width":30,"height":1},{"id":"3ecfe9bb.cdb506","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":4,"width":22,"height":1},{"id":"d7727ee3.8b8f3","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":6,"width":22,"height":1},{"id":"e5224219.5a211","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":7,"width":22,"height":1},{"id":"3cef361e.4138aa","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":8,"width":22,"height":1},{"id":"5e38b710.8d2708","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":9,"width":22,"height":1},{"id":"f716012b.8c4c8","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":10,"width":22,"height":1},{"id":"74c91fbc.5b314","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":11,"width":22,"height":1},{"id":"ab0f6851.f55ef8","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":12,"width":22,"height":1},{"id":"3c36f7c8.a5a8c8","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":13,"width":22,"height":1},{"id":"36cd5344.b2412c","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":14,"width":22,"height":1},{"id":"18981e25.aee782","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":15,"width":22,"height":1},{"id":"d61073f0.b443","type":"ui_spacer","name":"spacer","group":"d04e3134.a6ece","order":16,"width":22,"height":1},{"id":"10b7bc0e.510f44","type":"watch-directory","z":"c4c50837.00cc28","folder":"/detected","recursive":"2","typeEvent":"create","ignoreInitial":true,"ignoredFiles":"txt","ignoredFilesType":"re","name":"","x":100,"y":220,"wires":[["558e84af.5bb53c"]]},{"id":"5c196178.dae71","type":"change","z":"c4c50837.00cc28","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"frameID","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"inputTXT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":260,"wires":[["809d2449.ea9878"]]},{"id":"809d2449.ea9878","type":"file in","z":"c4c50837.00cc28","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":930,"y":260,"wires":[["c49a315c.faa4a"]]},{"id":"266e65bc.98f60a","type":"image-info","z":"c4c50837.00cc28","name":"","x":970,"y":60,"wires":[[]]},{"id":"43ddd050.c174f","type":"telegram sender","z":"c4c50837.00cc28","name":"","bot":"65dc76d8.eb8ee8","haserroroutput":false,"outputs":1,"x":2190,"y":400,"wires":[[]]},{"id":"5692468d.682db8","type":"function","z":"c4c50837.00cc28","name":"createTelegramMessage","func":"const imageMessage = {\n    payload : {\n    content : msg.payload.img.filename,\n    type : 'photo',\n    chatId : '915660758'\n    }\n}\n\ninfoMessage = {\n    payload : {\n    content : `${msg.payload.txt.payload.toUpperCase()}`,\n    type : 'message',\n    chatId : '915660758'\n    }\n}\n\nreturn [imageMessage,infoMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1570,"y":380,"wires":[["213a8a80.3cde86"],["43ddd050.c174f"]]},{"id":"c63323ec.005298","type":"ui_template","z":"c4c50837.00cc28","group":"d04e3134.a6ece","name":"Image Display","order":2,"width":15,"height":11,"format":"<div>\n    <h3>{{msg.payload.txt.payload}}</h3>\n    <img src=\"{{msg.payload.htmlImgSrc}}\" height=\"100%\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1740,"y":260,"wires":[[]]},{"id":"b912392f.bc3dd","type":"base64","z":"c4c50837.00cc28","name":"","action":"","property":"payload","x":1100,"y":220,"wires":[["c49a315c.faa4a"]]},{"id":"ead9b88b.f2cc68","type":"function","z":"c4c50837.00cc28","name":"sethtmlImgSrc","func":"const b64 = msg.payload.img;\nconst jpgPrefix = 'data:image/jpg;base64, ';\nmsg.payload.htmlImgSrc = jpgPrefix + msg.payload.img.payload;\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":260,"wires":[["c63323ec.005298"]]},{"id":"213a8a80.3cde86","type":"delay","z":"c4c50837.00cc28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1980,"y":340,"wires":[["43ddd050.c174f"]]},{"id":"c0085ed2.dd7ed","type":"inject","z":"c4c50837.00cc28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":140,"wires":[["b684aa48.cff4e8"]]},{"id":"b684aa48.cff4e8","type":"change","z":"c4c50837.00cc28","name":"resetConfidenceThreshold","rules":[{"t":"set","p":"confidenceThreshold","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":140,"wires":[[]]},{"id":"558e84af.5bb53c","type":"function","z":"c4c50837.00cc28","name":"","func":"\nmsg = {\n    topic: msg.filename.replace('.jpg',''),\n    payload: {\n        imgFile : msg.filename,\n        imgText: msg.filename.replace('.jpg','.txt')\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["6e7ea68a.6a4778"]]},{"id":"6e7ea68a.6a4778","type":"function","z":"c4c50837.00cc28","name":"","func":"\nimageMsg = {\n    topic: msg.topic,\n    payload: msg.payload.imgFile\n}\n\ntextMsg = {\n    topic: msg.topic,\n    payload: msg.payload.imgText\n}\n\nreturn [imageMsg,textMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["df7ed8b2.a45a98"],["5c196178.dae71"]]},{"id":"9fd6da30.68f428","type":"file in","z":"c4c50837.00cc28","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":930,"y":220,"wires":[["b912392f.bc3dd"]]},{"id":"df7ed8b2.a45a98","type":"change","z":"c4c50837.00cc28","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"frameID","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"inputJPG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[["9fd6da30.68f428"]]},{"id":"c49a315c.faa4a","type":"function","z":"c4c50837.00cc28","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"inputJPG\":\n        context.data.task1 = msg;\n        msg = null;\n        break;\n    case \"inputTXT\":\n        context.data.task2 = msg;\n        msg = null;\n        break;\n}\n\nif(context.data.task1 != null && context.data.task2 != null) {\n\tmsg2 = {\n\t    topic: \"Combined\",\n\t    payload: {\n\t        img: context.data.task1,\n\t        txt: context.data.task2\n\t    }\n\t}\n    context.data=null;\n\treturn msg2;\n} else \n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":260,"wires":[["ead9b88b.f2cc68","1b10ea8e.515475","5692468d.682db8"]]},{"id":"1b10ea8e.515475","type":"debug","z":"c4c50837.00cc28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]}]