node-red-data/.flows.json.backup
[{"id":"c4c50837.00cc28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33b962ae.3b4c2e","type":"subflow","name":"Display image","info":"","category":"","in":[{"x":60,"y":120,"wires":[]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"24b57e93.ee56c2","type":"ui_tab","name":"Camera","icon":"dashboard","disabled":false,"hidden":false},{"id":"d04e3134.a6ece","type":"ui_group","name":"Default","tab":"24b57e93.ee56c2","order":1,"disp":true,"width":30,"collapse":false},{"id":"b671a2c9.27b24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65dc76d8.eb8ee8","type":"telegram bot","botname":"yolocameranotifications_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"10b7bc0e.510f44","type":"watch-directory","z":"c4c50837.00cc28","folder":"/detected","recursive":"2","typeEvent":"create","ignoreInitial":true,"ignoredFiles":"txt","ignoredFilesType":"re","name":"","x":80,"y":220,"wires":[["558e84af.5bb53c"]]},{"id":"5c196178.dae71","type":"change","z":"c4c50837.00cc28","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"frameID","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"inputTXT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":260,"wires":[["809d2449.ea9878"]]},{"id":"809d2449.ea9878","type":"file in","z":"c4c50837.00cc28","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":930,"y":260,"wires":[["c49a315c.faa4a"]]},{"id":"43ddd050.c174f","type":"telegram sender","z":"c4c50837.00cc28","name":"","bot":"65dc76d8.eb8ee8","haserroroutput":false,"outputs":1,"x":2190,"y":400,"wires":[[]]},{"id":"5692468d.682db8","type":"function","z":"c4c50837.00cc28","name":"createTelegramMessage","func":"const authorized = env.get(\"AUTHORIZED_TELEGRAM_CLIENTS\");\n\nlet chatIds = authorized.includes(',') ? authorized.split(',') : [authorized]\n\nconst imageMessage = {\n    payload : {\n    content : msg.payload.img.filename,\n    type : 'photo',\n    chatId : chatIds\n    }\n}\n\ninfoMessage = {\n    payload : {\n    content : `${msg.payload.txt.payload.toUpperCase()}`,\n    type : 'message',\n    chatId : chatIds\n    }\n}\n\nreturn [imageMessage,infoMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1790,"y":380,"wires":[["213a8a80.3cde86"],["43ddd050.c174f"]]},{"id":"c63323ec.005298","type":"ui_template","z":"c4c50837.00cc28","group":"d04e3134.a6ece","name":"Image Display","order":1,"width":14,"height":12,"format":"<div>\n    <h3>Detected:{{msg.payload.txt.payload}}</h3>\n    <img src=\"{{msg.payload.htmlImgSrc}}\" width=\"100%\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1740,"y":260,"wires":[[]]},{"id":"b912392f.bc3dd","type":"base64","z":"c4c50837.00cc28","name":"","action":"","property":"payload","x":1080,"y":220,"wires":[["c49a315c.faa4a"]]},{"id":"ead9b88b.f2cc68","type":"function","z":"c4c50837.00cc28","name":"sethtmlImgSrc","func":"const b64 = msg.payload.img;\nconst jpgPrefix = 'data:image/jpg;base64, ';\nmsg.payload.htmlImgSrc = jpgPrefix + msg.payload.img.payload;\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":260,"wires":[["c63323ec.005298"]]},{"id":"213a8a80.3cde86","type":"delay","z":"c4c50837.00cc28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1980,"y":340,"wires":[["43ddd050.c174f"]]},{"id":"558e84af.5bb53c","type":"function","z":"c4c50837.00cc28","name":"","func":"\nmsg = {\n    topic: msg.filename.replace('.jpg',''),\n    payload: {\n        imgFile : msg.filename,\n        imgText: msg.filename.replace('.jpg','.txt')\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["6e7ea68a.6a4778"]]},{"id":"6e7ea68a.6a4778","type":"function","z":"c4c50837.00cc28","name":"","func":"\nimageMsg = {\n    topic: msg.topic,\n    payload: msg.payload.imgFile\n}\n\ntextMsg = {\n    topic: msg.topic,\n    payload: msg.payload.imgText\n}\n\nreturn [imageMsg,textMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["df7ed8b2.a45a98"],["5c196178.dae71"]]},{"id":"9fd6da30.68f428","type":"file in","z":"c4c50837.00cc28","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":930,"y":220,"wires":[["b912392f.bc3dd"]]},{"id":"df7ed8b2.a45a98","type":"change","z":"c4c50837.00cc28","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"frameID","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"inputJPG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[["9fd6da30.68f428"]]},{"id":"c49a315c.faa4a","type":"function","z":"c4c50837.00cc28","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"inputJPG\":\n        context.data.task1 = msg;\n        msg = null;\n        break;\n    case \"inputTXT\":\n        context.data.task2 = msg;\n        msg = null;\n        break;\n}\n\nif(context.data.task1 != null && context.data.task2 != null) {\n\tmsg2 = {\n\t    topic: \"Combined\",\n\t    payload: {\n\t        img: context.data.task1,\n\t        txt: context.data.task2\n\t    }\n\t}\n    context.data=null;\n\treturn msg2;\n} else \n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":260,"wires":[["ead9b88b.f2cc68","22e790bf.f198"]]},{"id":"22e790bf.f198","type":"delay","z":"c4c50837.00cc28","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1540,"y":380,"wires":[["5692468d.682db8"]]},{"id":"91752c16.97c82","type":"function","z":"c4c50837.00cc28","name":"","func":"if(msg.payload.toLowerCase().endsWith(\".jpg\") && msg.payload.toLowerCase() !== \"latest.jpg\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":140,"wires":[["a321c268.bc99a","a4012b58.736458"]]},{"id":"6d4b665c.a8dc58","type":"file in","z":"c4c50837.00cc28","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":140,"wires":[["44bfe890.4f8378"]]},{"id":"a321c268.bc99a","type":"change","z":"c4c50837.00cc28","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["6d4b665c.a8dc58"]]},{"id":"3aee13e3.fa03bc","type":"base64","z":"c4c50837.00cc28","name":"","action":"","property":"payload","x":1420,"y":140,"wires":[["7314c770.8ff4b8"]]},{"id":"7314c770.8ff4b8","type":"function","z":"c4c50837.00cc28","name":"sethtmlImgSrc","func":"const b64 = msg.payload.img;\nconst jpgPrefix = 'data:image/jpg;base64, ';\nmsg.payload = jpgPrefix + msg.payload;\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":140,"wires":[["caa6a08d.74e7a"]]},{"id":"caa6a08d.74e7a","type":"ui_template","z":"c4c50837.00cc28","group":"d04e3134.a6ece","name":"Image Display","order":2,"width":16,"height":12,"format":"<div>\n    <h3>Live:</h3>\n    <img src=\"{{msg.payload}}\" width=\"100%\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1760,"y":140,"wires":[[]]},{"id":"53ac1f99.f8311","type":"watch-directory","z":"c4c50837.00cc28","folder":"/live","recursive":0,"typeEvent":"create","ignoreInitial":true,"ignoredFiles":"","ignoredFilesType":"re","name":"","x":70,"y":140,"wires":[["91752c16.97c82"]]},{"id":"44bfe890.4f8378","type":"rbe","z":"c4c50837.00cc28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1290,"y":140,"wires":[["3aee13e3.fa03bc"]]},{"id":"b61a07cf.1ad508","type":"telegram command","z":"c4c50837.00cc28","name":"","command":"/help","bot":"65dc76d8.eb8ee8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":420,"wires":[["d9ab9bf7.253468"],[]]},{"id":"cbd449dd.e88688","type":"telegram command","z":"c4c50837.00cc28","name":"","command":"/start","bot":"65dc76d8.eb8ee8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":360,"wires":[["d9ab9bf7.253468"],[]]},{"id":"d9ab9bf7.253468","type":"function","z":"c4c50837.00cc28","name":"createTelegramMessage","func":"const authorized = env.get(\"AUTHORIZED_TELEGRAM_CLIENTS\");\n\nlet authorizedIds = authorized.includes(',') ? authorized.split(',') : [authorized]\n\n\nauthorizedMsg = {\n    payload : {\n    content : `Welcome!\n    \n    /help: Show this message\n    /latest: Get latest frame`,\n    type : 'message',\n    chatId : msg.payload.chatId\n    }\n}\n\nunauthorizedMsg = {\n    payload : {\n    content : `Unauthorized`,\n    type : 'message',\n    chatId : msg.payload.chatId\n    }\n}\n\nlet accessGranted = authorizedIds\n                        .filter(id => id === `${msg.payload.chatId}`.trim())\n                        .length > 0\n\nif(accessGranted){\n    return authorizedMsg;\n}\nelse{\n    node.warn(msg.payload.chatId + \" is not in \" + authorizedIds.join(','))\n    return unauthorizedMsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":380,"wires":[["2b382d4a.e7d592"]]},{"id":"2b382d4a.e7d592","type":"telegram sender","z":"c4c50837.00cc28","name":"","bot":"65dc76d8.eb8ee8","haserroroutput":false,"outputs":1,"x":1110,"y":460,"wires":[[]]},{"id":"f622880f.329b88","type":"telegram command","z":"c4c50837.00cc28","name":"","command":"/latest","bot":"65dc76d8.eb8ee8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":480,"wires":[["25cca152.bb3cae"],[]]},{"id":"25cca152.bb3cae","type":"change","z":"c4c50837.00cc28","name":"","rules":[{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["78e1ade8.bcf634"]]},{"id":"78e1ade8.bcf634","type":"function","z":"c4c50837.00cc28","name":"createTelegramMessage","func":"const authorized = env.get(\"AUTHORIZED_TELEGRAM_CLIENTS\");\n\nlet authorizedIds = authorized.includes(',') ? authorized.split(',') : [authorized]\n\n\nauthorizedMsg = imageMessage = {\n    payload : {\n        content : '/live/latest.jpg',\n        type : 'photo',\n        chatId : msg.originalMessage.chat.id\n    }\n}\n\nunauthorizedMsg = {\n    payload : {\n    content : `Unauthorized`,\n    type : 'message',\n    chatId : msg.payload.chatId\n    }\n}\n\nlet accessGranted = authorizedIds\n                        .filter(id => id === `${msg.payload.chatId}`.trim())\n                        .length > 0\n\nif(accessGranted){\n    return authorizedMsg;\n}\nelse{\n    node.warn(msg.payload.chatId + \" is not in \" + authorizedIds.join(','))\n    return unauthorizedMsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":460,"wires":[["2b382d4a.e7d592"]]},{"id":"4a548c8.dbcc674","type":"fs-ops-copy","z":"c4c50837.00cc28","name":"","sourcePath":"payload.directory","sourcePathType":"msg","sourceFilename":"payload.filename","sourceFilenameType":"msg","destPath":"/live/","destPathType":"str","destFilename":"latest.jpg","destFilenameType":"str","link":false,"overwrite":true,"x":520,"y":80,"wires":[[]]},{"id":"a4012b58.736458","type":"function","z":"c4c50837.00cc28","name":"","func":"const pathParts = msg.payload.split('/')\nmsg = {\n    payload: {\n        directory: [0,1].map(i => pathParts[i]).join('/'),\n        filename: pathParts[2]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":80,"wires":[["4a548c8.dbcc674"]]},{"id":"1d259d2d.43abd3","type":"telegram command","z":"c4c50837.00cc28","name":"","command":"/sleep","bot":"65dc76d8.eb8ee8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":540,"wires":[["3010b1e1.4a5a6e"],[]]},{"id":"3010b1e1.4a5a6e","type":"function","z":"c4c50837.00cc28","name":"","func":"const minutes = +msg.payload.content;\n\nfunction addMinutes(date, minutes) {\n    return new Date(date.getTime() + minutes*60000);\n}\n\nfunction GetFormattedDate(date) {\n    var month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n    var day  = (\"0\" + (date.getDate())).slice(-2);\n    var year = date.getFullYear();\n    var hour =  (\"0\" + (date.getHours())).slice(-2);\n    var min =  (\"0\" + (date.getMinutes())).slice(-2);\n    var seg = (\"0\" + (date.getSeconds())).slice(-2);\n    return year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" +  min + \":\" + seg;\n}\n\nif(!isNaN(minutes)){\n    let now = new Date()\n    let resumeDate = addMinutes(now, minutes);\n    \n    msg.sleepMinutes = minutes;\n    msg.resumeDate = GetFormattedDate(resumeDate);\n    \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":540,"wires":[["2a9641f6.31ac5e"]]},{"id":"2a9641f6.31ac5e","type":"function","z":"c4c50837.00cc28","name":"createTelegramMessage","func":"const authorized = env.get(\"AUTHORIZED_TELEGRAM_CLIENTS\");\n\nlet authorizedIds = authorized.includes(',') ? authorized.split(',') : [authorized]\n\n\nauthorizedMsg = {\n    payload : {\n        content : \n`Sleeping ${msg.sleepMinutes} minutes. Alerts will resume at:\n${msg.resumeDate}`,\n        type : 'message',\n        chatId : msg.originalMessage.chat.id\n    }\n}\n\nunauthorizedMsg = {\n    payload : {\n    content : `Unauthorized`,\n    type : 'message',\n    chatId : msg.payload.chatId\n    }\n}\n\nlet accessGranted = authorizedIds\n                        .filter(id => id === `${msg.payload.chatId}`.trim())\n                        .length > 0\n\nif(accessGranted){\n    return authorizedMsg;\n}\nelse{\n    node.warn(msg.payload.chatId + \" is not in \" + authorizedIds.join(','))\n    return unauthorizedMsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":540,"wires":[["2b382d4a.e7d592"]]}]